{% extends '_base.html' %}

{% block content %}
    <div style="margin-bottom: 100px">
    {% with image_url=student.matric_num %}

            <div style="background-image: url('../../../media/{{  image_url|cut:'/' }}.PNG'); background-size: contain; background-repeat: no-repeat; width:40%; height: 300px; display: inline-block">
                <img src="../../../media/{{  image_url|cut:'/' }}.jpg" height="300" alt="Student Passport">
            </div>
        {% endwith %}
    <dl style="padding-top: 20px; width:58%;  display: inline-block">
        <blockquote class="green">
        <dt>Surname</dt>
        </blockquote>
        <dd>{{ student.surname }}</dd>
        <blockquote class="green">
        <dt>First Name</dt>
        </blockquote>

        <dd>{{ student.firstname }}</dd>
        <blockquote class="green">
        <dt>Other Name</dt>
        </blockquote>
        <dd>{{ student.othername }}</dd>
        <blockquote class="green">
        <dt>Matriculation Number</dt>
        </blockquote>

        <dd>{{ student.matric_num }}</dd>
        <blockquote class="green">
        <dt>Payment Status</dt>
        </blockquote>

        <dd>{{ student.payment_status|upper}} PAYMENT</dd>

    </dl>


    <div class="colM">
    <br>
        <h6>External Visitor</h6>
    {% if user.role == "Porter" %}
    <form action="{% url 'visitor_details'%}" method="get">
        <input name="student" type="number" value="{{ student.id }}" hidden>
        <input name="name" type="text" placeholder="Visitor Name...">
        <input name="phone_number" type="text" placeholder="Visitor's Phone Number...">
        <input name="address" type="text" placeholder="Visitor's Address...">
    <input type="submit" value="Allow" class="btn yellow accent-4">
    </form>
    {% endif %}

    <table border="1" style="margin-top: 50px">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Visiting</th>
                        <th>Visitor Name</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                        <th>Arrival Time</th>
                        <th>Departure Time</th>

                    </tr>
                </thead>
    <tbody>
    {% for visitor in visitors %}


                <tr>
            <td>{{ forloop.counter }}</td>
                <td>{{ visitor.student}}</td>
                <td>{{ visitor.name}}</td>
            <td>{{ visitor.phone_number }}</td>
            <td>{{ visitor.address }}</td>
            <td>{{ visitor.arrival_time }}</td>
                {% if visitor.departure_time %}
                    <td>{{ visitor.departure_time }}</td>
                    {% elif user.role == "Porter" %}
                    <td>
                    <form action="{% url 'visitor_details'%}" method="get" style="display: inline">
                        <input name="student" type="number" value="{{ student.id }}" hidden >
                        <input name="visitor" type="text" value="{{ visitor.id }}" hidden  >
                        <input name="checkout" type="text" value="true" hidden  >
                        <input type="submit" value="Check Out" style="display: inline" class="btn yellow accent-4">
                    </form>
                    </td>
                {% endif %}

            </tr>


        {% endfor %}
    </tbody>
</table>
    </div>

    <div class="colM">
    <br>
        <h6>Student Visitor</h6>
    {% if user.role == "Porter" %}
    <form action="{% url 'student_visitor_attendance'%}" method="get">
        <input name="hostel" type="number" value="{{ hostel.id }}" hidden>
        <input name="host" type="number" value="{{ student.id }}" hidden>
        <input name="matric" type="text" placeholder="Matriculation number...">
    <input type="submit" value="Allow" class="btn yellow accent-4">
    </form>
    {% endif %}
        <table class="responsive-table striped" style="margin-top: 50px">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Visiting</th>
                        <th>Visitor Name</th>
                        <th>Programme</th>
                        <th>Matric Number</th>
                        <th>Arrival Time</th>
                        <th>Departure Time</th>

                    </tr>
                </thead>
    <tbody>
    {% for visitor in student_visitors %}


                <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ visitor.student}}</td>
                <td>{{ visitor.visitor.firstname}} {{ visitor.visitor.surname}} {{ visitor.visitor.othername}}</td>
            <td>{{ visitor.visitor.programme }}</td>
            <td>{{ visitor.visitor.matric_num }}</td>
            <td>{{ visitor.arrival_time }}</td>
                {% if visitor.departure_time %}
                    <td>{{ visitor.departure_time }}</td>
                    {% elif user.role == "Porter" %}
                    <td>
                    <form action="{% url 'student_visitor_attendance'%}" method="get" style="display: inline">
                        <input name="host" type="number" value="{{ student.id }}" hidden  style="display: none">
                        <input name="visitor" type="text" value="{{ visitor.id }}" hidden  style="display: none">
                        <input name="checkout" type="text" value="true" hidden  style="display: none">
                        <input type="submit" value="Check Out" style="display: inline" class="btn yellow accent-4">
                    </form>
                    </td>
                {% endif %}

            </tr>


        {% endfor %}
    </tbody>
</table>
    </div>
<div class="colM">
    <br>
        <h6>Student Properties</h6>
{% if user.role == "Porter" %}
    <form action="{% url 'student_property_details'%}" method="get">
        <input name="student" type="number" value="{{ student.id }}" hidden>
        <input name="name" type="text" placeholder="Property Name...">
        <input name="mover" type="text" placeholder="Mover of property...">
        <input name="description" type="text" placeholder="Description...">
        <p>
            Moving
      <label>
        <input name="moving" value="in" type="radio" checked />
        <span>In</span>
      </label>
      <label>
        <input name="moving" value="out" type="radio" />
        <span>Out</span>
      </label>
    </p>
        <input type="submit" value="Permit" class="btn yellow accent-4">
    </form>
{% endif %}
        <table class="responsive-table striped" style="margin-top: 50px">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Property Name</th>
                        <th>Mover of property</th>
                        <th>Description</th>
                        <th>Moving</th>
                        <th>Time</th>


                    </tr>
                </thead>
    <tbody>
    {% for property in properties %}


                <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ property.name}}</td>
                <td>{{ property.mover}}</td>
            <td>{{ property.description }}</td>
            <td>{{ property.moving | upper }}</td>
            <td>{{ property.timestamp }}</td>
            </tr>


        {% endfor %}
    </tbody>
</table>
    </div>
    </div>
    <script>
    window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted ||
                         ( typeof window.performance != "undefined" &&
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});
</script>
{% endblock %}