{% extends '_base.html' %}
{% block content %}
    <script>
    window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted ||
                         ( typeof window.performance != "undefined" &&
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});
</script>
<div class="card" style="padding: 100px">
    {% if hostelattendance.student %}
        {% with image_url=hostelattendance.student.matric_num %}
            <div style="background-image: url('../media/{{  image_url|cut:'/' }}.PNG'); background-size: contain; background-repeat: no-repeat; width:40%; height: 300px; display: inline-block">
                <img src="../../media/{{  image_url|cut:'/' }}.jpg" height="300" alt="Student Passport">
            </div>
        {% endwith %}
    <dl style="padding-top: 20px; width:58%;  display: inline-block">
    <blockquote class="green">
        <dt>Surname</dt>
    </blockquote>

        <dd>{{ hostelattendance.student.surname }}</dd>
    <blockquote class="green">
        <dt>First Name</dt>
    </blockquote>

        <dd>{{ hostelattendance.student.firstname }}</dd>
    <blockquote class="green">
        <dt>Other Name</dt>
    </blockquote>

        <dd>{{ hostelattendance.student.othername }}</dd>
    <blockquote class="green">
        <dt>Matriculation Number</dt>
    </blockquote>

        <dd>{{ hostelattendance.student.matric_num }}</dd>
    </dl>
        <dl>
    <blockquote class="green">
        <dt>Gender</dt>
    </blockquote>

        <dd>{{ hostelattendance.student.gender }}</dd>
        <blockquote class="green">
        <dt>Programme</dt>
    </blockquote>
        <dd>{{ hostelattendance.student.programme }}</dd>
    <blockquote class="green">
        <dt>Hostel room</dt>
    </blockquote>
        <dd>
            {{ hostelattendance.student.room }}
        </dd>
    <blockquote class="green">
        <dt>Payment Status</dt>
    </blockquote>

        <dd>{{ hostelattendance.student.payment_status | title }} Payment</dd>
<blockquote class="green">
        <dt>Check-in Time</dt>
    </blockquote>
        <dd>{{ hostelattendance.check_in }}</dd>
        {% if hostelattendance.check_out %}
            <blockquote class="green">
            <dt>Check-out Time</dt>
    </blockquote>
            <dd>{{ hostelattendance.check_out }}</dd>
            {% else %}
    <form action="{% url 'approve_hostel_attendance' %}">
        <input value="{{ hostelattendance.id }}" name="hostelattendance_id" hidden style="display: none">
        <input value="{{ hostelattendance.hostel.id }}" name="hostel_id" hidden style="display: none">
        <p>
      <label>
        <input type="checkbox" value="True" name="valid"/>
        <span>Approve Entry</span>
      </label>
    </p>
        <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="autocomplete-input" name="reason" class="autocomplete">
    <label>Reason for denied approval</label>
        </div>
      </div>
    </div>
        </div>
        <input type="submit" value="Submit" style="display: inline" class="btn yellow accent-4">
    </form>
        {% endif %}
    </dl>
    {% else%}
        <p>There are no Student with the provided matriculation number</p>
    {% endif %}
</div>

{% endblock %}