{% extends '_base.html' %}
{% block content %}
    <div style="padding-bottom: 100px">
    <h5>Examination Report</h5>
    <table class="responsive-table striped" cellpadding="10px">
        <thead>
        <tr>
            <td>S/N</td>
            <td>Course Title</td>
            <td>Start Time</td>
            <td>Completion Time</td>
            <td>Supervisor</td>
            <td>Number of Students</td>


        </tr>
        </thead>
        <tbody>
        {% for exam in object_list %}
            <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td><a href="{% url 'examination_details' pk=exam.id %}">{{ exam.title}}</a></td>
                <td>{{ exam.start_time}}</td>
                <td>{{ exam.end_time}}</td>
                <td>
                    {% for supervisor in exam.examination_supervisors.all %}
                        {{ supervisor}}
                    {% endfor %}
                </td>
                <td>{{ exam.attendance_set.count}}</td>
            </tr>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        </tbody>
        <tr></tr>
    </table>
    <h5>Hostel Report</h5>
    <table class="responsive-table striped" cellpadding="10px">
        <thead>
        <tr>
            <td>S/N</td>
            <td>Hostel Name</td>
            <td>Number of Rooms</td>

        </tr>
        </thead>
        <tbody>
        {% for hostel in hostels %}
            <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td><a href="{% url 'hostel_details' pk=hostel.id %}">{{ hostel.name}}</a></td>
            <td>{{ hostel.rooms.all.count }}</td>
            </tr>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
        </tbody>
        <tr></tr>
    </table>
    </div>
{% endblock %}