{% extends '_base.html' %}
{% block content %}
<div class="card" style="padding: 50px">
    {% if student %}
        {% with image_url=student.matric_num %}

            <div style="background-image: url('../media/{{  image_url|cut:'/' }}.PNG'); background-size: contain; background-repeat: no-repeat; width:40%; height: 300px; display: inline-block">
                <img src="../media/{{  image_url|cut:'/' }}.jpg" height="300">
            </div>
        {% endwith %}
    <dl style="padding-top: 20px; width:40%;  display: inline-block">
    <blockquote class="green">
        <dt>Surname</dt>
    </blockquote>

        <dd>{{ student.surname }}</dd>
    <blockquote class="green">
        <dt>First Name</dt>
    </blockquote>

        <dd>{{ student.firstname }}</dd>
    <blockquote class="green">
        <dt>Other Name</dt>
    </blockquote>

        <dd>{{ student.othername }}</dd>
    <blockquote class="green">
        <dt>Matriculation Number</dt>
    </blockquote>

        <dd>{{ student.matric_num }}</dd>
    </dl>
        <dl>
    <blockquote class="green">
        <dt>Gender</dt>
    </blockquote>

        <dd>{{ student.gender }}</dd>
        <blockquote class="green">
        <dt>Programme</dt>
    </blockquote>
        <dd>{{ student.programme }}</dd>
    <blockquote class="green">
        <dt>Hostel room</dt>
    </blockquote>


        <dd>
        {% if student.hostelattendance_set.count != 0 %}
            {{ student.room }}
        {% else %}
            Non Resident
        {% endif %}
        </dd>
    <blockquote class="green">
        <dt>Payment Status</dt>
    </blockquote>

        <dd>{{ student.payment_status | title }} Payment</dd>

    </dl>
    {% else %}
        <p>There are no Student with the provided matriculation number</p>
    {% endif %}
</div>
{% endblock %}