{% extends '_base.html' %}
{% block content %}
    <script>
    window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted ||
                         ( typeof window.performance != "undefined" &&
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    // Handle page restore.
    window.location.reload();
  }
});
</script>
<div class="card" style="padding: 100px">
    {% if visitingstudent.student %}
        {% with image_url=visitingstudent.student.matric_num %}

            <div style="background-image: url('../media/{{  image_url|cut:'/' }}.PNG'); background-size: contain; background-repeat: no-repeat; width:40%; height: 300px; display: inline-block">
                <img src="../media/{{  image_url|cut:'/' }}.jpg" height="300" alt="Student Passport">
            </div>
        {% endwith %}
    <dl style="padding-top: 20px; width:40%;  display: inline-block">
        <dt>Surname</dt>
        <dd>{{ visitingstudent.student.surname }}</dd>
        <dt>First Name</dt>
        <dd>{{ visitingstudent.student.firstname }}</dd>
        <dt>Other Name</dt>
        <dd>{{ visitingstudent.student.othername }}</dd>
        <dt>Matriculation Number</dt>
        <dd>{{ visitingstudent.student.matric_num }}</dd>
        <dt>Gender</dt>
        <dd>{{ visitingstudent.student.gender }}</dd>
        <dt>Room</dt>
        <dd>{{ visitingstudent.student.room }}</dd>
        <dt>Programme</dt>
        <dd>{{ visitingstudent.student.programme }}</dd>
        <dt>Payment Status</dt>
        <dd>{{ visitingstudent.student.payment_status | title }} Payment</dd>
        <dt>Visitor Name</dt>
        <dd>{{ visitingstudent.visitor.surname }} {{ visitingstudent.visitor.firstname }} {{ visitingstudent.visitor.othername }}</dd>
        <dt>Visitor's Programme</dt>
        <dd>{{  visitingstudent.visitor.programme }}</dd>
        <dt>Visitor's Matriculation Number</dt>
        <dd>{{ visitingstudent.visitor.matric_num }}</dd>
        <dt>Visitor Arrival Time</dt>
        <dd>{{ visitingstudent.arrival_time }}</dd>
        {% if visitingstudent.departure_time %}
            <dt>Visitor Departure Time</dt>
            <dd>{{ visitingstudent.departure_time }}</dd>
        {% endif %}
    </dl>
    {% else%}
        <p>There are no Student with the provided matriculation number</p>
    {% endif %}
</div>

{% endblock %}