a.navbar-link {
  color: white;
  margin: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.dropdown-item:hover {
   background-color: #fdc800;
}